In [12]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData

In [2]:
# Create Database Connection
engine = create_engine('sqlite:///../raw_data/full_data/wine.sqlite')
Base = automap_base()

In [3]:
Base.prepare(engine, reflect=True)
Base.classes.keys()

['reviews']

In [4]:
reviews=Base.classes.reviews
session=Session(engine)

In [5]:
first_row=session.query(reviews).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x178b589f860>,
 'country': 'US',
 'description': 'Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.',
 'designation': None,
 'id': 1,
 'points': 87.0,
 'price': 14.0,
 'province': 'Oregon',
 'region_1': 'Willamette Valley',
 'region_2': 'Willamette Valley',
 'taster_name': 'Paul Gregutt',
 'taster_twitter_handle': '@paulgwine\xa0',
 'title': 'Rainstorm 2013 Pinot Gris (Willamette Valley)',
 'variety': 'Pinot Gris',
 'winery': 'Rainstorm'}

In [6]:
titles=session.query(reviews.variety).distinct().count()
titles

257

In [7]:
state=[]
variety=[]
points=[]
price=[]

for row in session.query(reviews.province,reviews.variety,func.avg(reviews.points).label('Average_Point'),\
                         func.avg(reviews.price).label('Average_Price')).group_by(reviews.province,\
                        reviews.variety).order_by(reviews.province).all():
    state.append(row.province)
    variety.append(row.variety)
    points.append(round(row.Average_Point,2))
    if (row.Average_Price != None):
        price.append(round(row.Average_Price))
    else:
        price.append(0)

In [18]:
state_prpt=pd.DataFrame({"State":state,
                    "Variety":variety,
                    "Avg_Points":points,
                    "Avg_Price":price}, columns=['State','Variety','Avg_Points','Avg_Price'])

state_prpt.head()

     State                   Variety  Avg_Points  Avg_Price
0  America                   Barbera       83.00         18
1  America  Bordeaux-style Red Blend       87.00         38
2  America        Cabernet Sauvignon       85.50         20
3  America           Champagne Blend       87.00         16
4  America                Chardonnay       84.88         16

In [23]:
engine = create_engine('sqlite:///../raw_data/full_data/wine.sqlite')
state_prpt.to_sql('prpt', engine, if_exists='replace')

In [48]:
engine.table_names()

['prpt', 'reviews', 'state_prpt']